<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>{{ .Title }}</title>
    <style type="text/css">
    body { text-align: center; }
    table { margin: auto; }
    p.footer {
      font-family: Terminus, Courier, Monospace;
      font-size: 8px;
      color: #bbb;
    }
    </style>
  </head>
  <body style="text-align: center">
    <h1>{{ .Title }}</h1>

    {{ $ifaces := .Interfaces }}
    <table>
      {{ range $graph := .Graphs }}
      <tr>
        {{ range $ifaces }}
        <td>
          <a href="/iface/{{ . }}"><img src="/graph/{{ . }}/{{ $graph }}" /></a>
        </td>
        {{ end }}
      </tr>
      {{ end }}
    </table>

    <p class="footer">
      VNStatUI {{ .Version }}.
      Written by <a href="http://www.codekoala.com/" target="_new">Josh VanderLinden</a>.<br />
      Released under the <a href="/license">BSD</a> license.
    </p>
  </body>
</html>

<!--
# vim:set ft=html ts=2 sw=2 et:
//-->
